<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
  bootstrap="Markdown2Video/vendor/autoload.php"
  colors="true"
  beStrictAboutTestsThatDoNotTestAnything="false"
  cacheDirectory=".phpunit.cache"
  failOnWarning="true"
  failOnRisky="true"
>

  <testsuites>
    <testsuite name="Models Test Suite">
      <file>tests/ImageModelTest.php</file>
      <file>tests/UserModelTest.php</file>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory suffix=".php">Markdown2Video/src/Models</directory>
    </include>
  </source>

  <coverage>
    <report>
      <html outputDirectory="docs/coverage" />
    </report>
  </coverage>

  <php>
    <ini name="display_errors" value="On" />
    <ini name="display_startup_errors" value="On" />
    <ini name="error_reporting" value="-1" />
  </php>
</phpunit>