container_commands:
  01_download_ffmpeg:
    command: |
      curl -L -o /tmp/ffmpeg-release.tar.xz https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-amd64-static.tar.xz

  02_extract_ffmpeg:
    command: |
      mkdir -p /tmp/ffmpeg-static && tar -xf /tmp/ffmpeg-release.tar.xz -C /tmp/ffmpeg-static --strip-components=1

  03_remove_broken_symlink:
    command: |
      if [ -L /usr/local/bin/ffmpeg ]; then rm -f /usr/local/bin/ffmpeg; fi
      if [ -L /usr/local/bin/ffprobe ]; then rm -f /usr/local/bin/ffprobe; fi

  04_install_ffmpeg:
    command: |
      cp /tmp/ffmpeg-static/ffmpeg /usr/local/bin/
      cp /tmp/ffmpeg-static/ffprobe /usr/local/bin/
      chmod +x /usr/local/bin/ffmpeg /usr/local/bin/ffprobe
  05_install_marp-cli:
    command: |
      sudo npm install -g @marp-team/marp-cli