files:
  /tmp/google-chrome-stable_current_x86_64.rpm:
    mode: "000644"
    owner: root
    group: root
    source: https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm

commands:
  01_install_chrome:
    command: |
      dnf install -y /tmp/google-chrome-stable_current_x86_64.rpm
      rm /tmp/google-chrome-stable_current_x86_64.rpm
    cwd: /
    ignoreErrors: false
