# .ebextensions/install_node.config
commands:
  01_composer_autoload:
    command: "composer dump-autoload --optimize"
    ignoreErrors: true

  02_npm_clean_install:
    command: "npm ci --production"
    
  03_npm_rebuild:
    command: "npm rebuild"
    
  04_npm_build:
    command: "npm run build"
    test: "[ -f package.json ] && grep -q '\"build\"' package.json"