container_commands:
  01_create_cache_dir:
    command: "mkdir -p /home/webapp/.cache/puppeteer && chown -R webapp:webapp /home/webapp/.cache"
    leader_only: true
  02_install_puppeteer_chrome:
    command: "sudo -u webapp PUPPETEER_CACHE_DIR=/home/webapp/.cache/puppeteer npx puppeteer browsers install chrome-headless-shell"
    leader_only: true
