commands:
  01_install_chrome:
    command: |
      # Instalar dependencias para Chrome
      sudo yum install -y \
      vulkan \
      xdg-utils \
      alsa-lib \
      atk \
      cups-libs \
      gtk3 \
      ipa-gothic-fonts \
      libXcomposite \
      libXcursor \
      libXdamage \
      libXext \
      libXi \
      libXrandr \
      libXScrnSaver \
      libXtst \
      pango \
      xorg-x11-fonts-Type1 \
      xorg-x11-fonts-misc \
      xorg-x11-fonts-75dpi \
      xorg-x11-utils \
      liberation-fonts

      
      # Descarga Chrome
      wget https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm

      # Instala Chrome
      sudo rpm -i google-chrome-stable_current_x86_64.rpm

      google-chrome --version

    ignoreErrors: false