container_commands:
  01_composer_autoload:
    command: "composer dump-autoload --optimize"
    ignoreErrors: true  # Por si ya está optimizado
  02_npm_rebuild:
    command: "npm rebuild"
    env:
      NODE_ENV: production
  03_npm_build:
    command: "npm run build"
    test: "[ -f package.json ] && grep -q '\"build\"' package.json"